* {
    font-family: 'Lato', sans-serif;
    color: #dad5f1;
}

html {
    background: #FACFE3;
}

.cabecalho {
    background-color: #4D0367;
    border-bottom: 10px solid #A24FBF;
    margin: 0 auto;
    margin-bottom: 10px;
}

.caixaCabecalho {
    position: relative;
    width: 940px;
    height: 100px;
    margin: 0 auto;
    padding: 30px 0;
}

.logoAlura {
    position: absolute;
    width: 100px;
    left: 0;
}

#tituloDoJogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: overline underline;
    color: #dad5f1;
}

.menuPrincipal {
    height: 500px;
    margin: 0 auto;
}

.caixaMenuPrincipal {
    position: relative;
    width: 540px;
    height: 490px;
    margin: 0 auto;
}

.caixaMenuPrincipal button {
    transition-duration: 0.4s;
    background-color: #fa0bee;
    border: 3px solid #000000a1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.caixaMenuPrincipal button:hover {
    background-color: #fcdaff;
    color: #4D0367;
}

.btnIniciar {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

.btnAdicionarPalavra {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.rodape {
    position: relative;
    background-color: #06031a;
    background-image: url("/Imagens/rpg-space.gif");
    border-top: 10px solid #7D0047;
    height: 150px;
    margin: 0 auto;
}

.caixaRedesSociais {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
}

.redesSociais li {
    display: inline;
}

.redesSociais img {
    border-radius: 50%;
    margin: 10px 20px 0 20px;
}

.caixaCreditos {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    margin: 10px auto 10px;
}

.creditos-Icons-Usados li {
    display: inline;
    margin: 0 5px 0 5px;
}

.creditos-Icons-Usados a {
    text-decoration: none;
    padding: 5px;
    border-radius: 7px;
    color: #7a7979;
    font-size: 16px;
    transition-duration: 0.4;
}

.creditos-Icons-Usados a:hover {
    color: #fa0b53;
    text-decoration: underline;
}

span {
    font-size: 14px;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 14px;
    color: #dad5f1;
    margin: 0 auto 2px;
}